registry=https://registry.npmmirror.com/
@nokia-csf-uxr:registry=https://repo.cci.nokia.net/api/npm/csf-npm-delivered
strict-ssl=false
proxy=http://10.144.1.10:8080/
https-proxy=http://10.144.1.10:8080/
noproxy[]=repo3.cci.nokia.net,nokia.com,nokia-sbell.com,alcatel-lucent.com,lucent.com
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
